/* ========== БАЗОВЫЕ СТИЛИ ========== */

.page {
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #f1b2ce);
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image, url("../images/cover-image-dark.png"));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


/* ========== ТЕКСТ И ОФОРМЛЕНИЕ ========== */

.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--paragraph-bg-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--second-title-color);
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
}

.page-title {
  display: grid;
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
}


.footer-title {
  display: grid;
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--color-purple-2, #FF8DCB);
}


.minor-title {
  font-size: var(--line-height-text);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  color: var(--main-title-color);
}

.post-minor-title {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
}

.post-minor-title-separated {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
}

.post-minor-title-regular {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-regular);
}


.post-minor-description {
  margin-block-start: 10px;
  color: var(--description-text-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-regular);
}

/* ========== HEADER ========== */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: var(--main-gap);
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu-list {
  margin-block-start: 64px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: end;
  gap: var(--main-gap);
}

.header__theme-menu-item {
  line-height: 23.4px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 12px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
  cursor: default;
}

.header__title {
  margin-block: 55px;
  align-content: end;
  height: fit-content;
  background: var(--accent-color, #ff0070);
  color: var(--highlight-color, #000028);
  font-weight: 700;
}


/* ========== ЭФФЕКТЫ И ДЕКОР ========== */

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
  right: 11px;
  top: 11px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  bottom: var(--main-gap);
  left: var(--main-gap);
  transform: rotate(180deg);
}


.rec-decor {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 19px; 
  inset-block-start: 18px; 
}


.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 10px;
}

.rec-decor::after {
  content: "";
  width: 9px;
  height: 9px;
  background: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
}


.description__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--paragraph-bg-color);
}

.description__link:hover {
  border-bottom: 1px solid var(--border-line);
}

.description__link:focus {
  outline: 0;
}

.description__link:focus-visible {
  outline: 1px solid var(--border-line);
  outline-offset: -2px;
}


/* ========== MAIN ========== */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}


/* ========== СЕКЦИИ И КАРТОЧКИ ========== */
.section {
  display: grid;
  width: fit-content;
  padding: var(--main-gap);
  margin-block-start: 29px;
  gap: 50px;
}

.section__list {
  display: grid;
  gap: 20px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.picture-section {
  display: grid;
}

.article {
  gap: 10px;
}

.minor-title__last-of-type {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  margin-block-end: 10px;
}



.footer {
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-gap);
  margin-block-start: 30px;
}

.gallery-list {
  margin-block-start: 0px;
  display: grid;
  gap: 10px;
  height: fit-content;
  justify-content: center;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}



/* ========== ADAPTIVE ========== */
@media (min-width: 768px) {

  .rec-decor {
    inset-inline-end: 28px; 
    inset-block-start: 20px; 
  }

  .rec-decor::before {
    line-height: 24px;
  }

  .page-title { 
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 0;
  }

  .decorated-zone::before {
    right: var(--decorated-gap);
    top: var(--decorated-gap);
  }
  
  .decorated-zone::after {
    bottom: var(--decorated-gap);
    left: var(--decorated-gap);
  }

  .section { 
    margin-block-start: 40px; 
    padding: 20px; 
    gap: 80px; 
  } 
 
  .section-why { 
    display: grid; 
    grid-template-columns: 1fr 2fr; 
  } 
 
  .section-why .card:last-of-type { 
    grid-column: 2/2; 
  } 
 
  .section__list { 
    margin-block-start: -70px; 
    grid-column: 2/3; 
  }

  .minor-title {
    width: 100%;
    max-width: 236px;
  }

 
  .minor-title__last-of-type { 
    margin: 0; 
  }


  .gallery-list { 
    margin-block-start: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }


 
  .gallery-list__item:first-child, 
  .gallery-list__item:last-child { 
    grid-column-start: span 2; 
  } 
 
  .gallery-list__item:nth-child(2), 
  .gallery-list__item:nth-child(3) { 
    grid-row-start: span 2; 
  } 
 
  .header {
    min-height: 1024px;
    padding: 20px;
    padding-inline-start: 0; 
  }


  .header__theme-menu-list {
    margin-block-start: 173px;
    gap: var(--main-gap);
  }
 
  .header__title {
    margin-block-start: 210px;
    justify-self: end;
    width: clamp(364px, calc(100% / 2 - 10px), 491px); 
  }

 
  .main { 
    gap: 80px; 
    padding: 60px 20px; 
  } 
 
  .footer { 
    padding: 20px;
    margin-block-start: 40px;
    min-height: 1024px;
  }

  
  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }


  .post-minor-title-separated {
    margin-block-start: 0px;
    max-height: 25%;
  }
}


@media (min-width: 1024px) {
  .picture-section {
    gap: 20px;
  }

  .rec-decor {
    inset-inline-end: 28px; 
    inset-block-start: 20px; 
  }

  .rec-decor::before {
    line-height: 24px;
  }

  .header {
    min-height: 768px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .section-why {
    grid-template-columns: 1fr 2.06fr;
  }

  .section-concentrate {
    display: grid;
    grid-template-columns: 1fr 2.06fr;
  }

  .section-causes {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto;
  }

  .section-causes .card:first-of-type{
    grid-column: 1/2;
  }

  .section__list {
    margin-block-start: -50px;;
  }

  .minor-title {
    max-width: 315px;
  }

  .header__title {
    margin-block-start: 180px;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    margin-block-start: 1px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .post-minor-title-separated {
    max-height: 35%;
  }

  .gallery-list {
    margin-block-start: 0px;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }


  .footer {
    min-height : 768px;
  }
}

