/* ========== БАЗОВЫЕ СТИЛИ ========== */

.page {
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #f1b2ce);
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image, url("../images/cover-image.png"));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* ========== ТЕКСТ И ОФОРМЛЕНИЕ ========== */

.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--paragraph-bg-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--second-title-color);
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
}

.page-title {
  display: grid;
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 158%;
}


.minor-title {
  font-size: var(--line-height-text);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  color: var(--main-title-color);
}

.post-minor-title {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
}

.post-minor-title-regular {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-regular);
}


.post-minor-description {
  margin-block-start: 10px;
  color: var(--description-text-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-regular);
}

/* ========== HEADER ========== */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 20px;
  height: 100vh;     
  min-height: 668px;
}

.header__theme-menu {
  justify-self: center;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
  cursor: default;
}

.header__title {
  margin-block: 55px;
  align-content: end;
  height: fit-content;
  background: var(--accent-color, #ff0070);
  color: var(--highlight-color, #000028);
  font-weight: 700;
}


/* ========== ЭФФЕКТЫ И ДЕКОР ========== */

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-decor {
  position: absolute;
  z-index: -1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  visibility: var(--rec-decor-visibility, visible);
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  width: 9px;
  height: 9px;
  background: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
}


/* ========== MAIN ========== */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}


/* ========== СЕКЦИИ И КАРТОЧКИ ========== */
.section {
  display: grid;
  width: fit-content;
  padding: var(--main-gap);
  margin-block-start: 29px;
  gap: 50px;
}



.section__list {
  display: grid;
  gap: 20px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.article {
  gap: 10px;
}

.minor-title__last-of-type {
  color: var(--second-title-color);
  font-size: var(--line-height-text);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  margin-block-end: 10px;
}


/* ========== FOOTER ========== */

.footer {
  margin-block-start: 30px;
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 100vh;     
  min-height: 668px;
  padding: var(--main-gap);
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* ========== ADAPTIVE ========== */

@media (width >= 768px) {
  .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    margin-block-start: 40px;
    padding: 20px;
    gap: 80px;
  }

  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-why .card:last-of-type {
    grid-column: 2/2;
  }

  .section__list {
    margin-block-start: -70px;
    grid-column: 2/3;
  }

  .minor-title__last-of-type {
    margin: 0;
  }


  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }


  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__title {
    justify-self: end;
    width: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .footer {
    padding: 20px;
    margin-block-start: 40px;
    min-height: 1024px;
  }

  .footer__container {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .section-why {
    grid-template-columns: 1fr 2.06fr;
  }

  .section-concentrate {
    display: grid;
    grid-template-columns: 1fr 2.06fr;
  }

  .section-causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .section-causes .card:first-of-type{
    grid-column: 1/2;
  }

  .section__list {
    margin-block-start: -50px;;
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .footer {
    min-height : 768px;
  }
}
